* {
  user-select: none;
  outline: none;
}

html[theme="dark-mode"] {
  /* 
  darkmode 설정
  invert 속성으로 색상 반전 (무채색인 경우)
  hue-rotate 속성 -> 색상 휠을 180도로 돌려줌 ( 색상이 있는 경우 )
   */
  filter: invert(100%) hue-rotate(180deg);
}

body {
  background-color: white;
}

.container {
  width: 1050px;
  margin: auto;
}

.keyboard {
  background-color: gray;
  color: gray;
  width: 1050px;
  border-radius: 4px;
}

.row {
  /* row 클래스가 플렉스 컨테이너가 되고, row 클래스의 자식들은 전부 flex하게 나열된다 ( 가로방향으로 )  */
  display: flex;
}

.key {
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  /* 41~43라인의 속성은 flex 속성을 가졌을 때만 적용가능하다. 
     flex-wrap : wrap -> 플렉스 컨테이너가 더 이상 아이템을 가질 여유공간이 없을 때 줄 바꿈 처리해주기
  */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* 속성 변경이 생길 때 지정한 시간만큼 거쳐서 변화를 보여준다. */
  transition: 0.2s;
  /* ! */
}

.key:hover {
  background-color: lightgray;
}

.key.active {
  background-color: #333;
  color: #fff;
}

.key .two-value {
  width: 100%;
  text-align: center;
}

.fn-key {
  width: 80px;
}

.space-key {
  width: 420px;
}

.back-space-key {
  width: 130px;
}

.tab-key {
  width: 95px;
}

.back-slash-key {
  width: 95px;
}

.caps-lock-key {
  width: 110px;
}

.left-shift-key {
  width: 145px;
}

.enter-key {
  width: 150px;
}

.right-shift-key {
  width: 185px;
}

.menu {
  /* 메뉴 아이템들의 width를 유지하며 가로로 나란히 배열하기 위해 menu 클래스를 플렉스 컨테이너로 설정해준다*/
  display: flex;
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  cursor: pointer;
  background-color: gray;
  border-radius: 34px;
  transition: 0.4s;
}

/* :: -> 가상 요소, 슬라이더 클래스에 가상 요소를 넣어준다.*/
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.5s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider::before {
  /* 슬라이더 움직이는 표현 */
  transform: translateX(26px);
}

.select-box {
  position: relative;
  margin-left: 60px;
  height: 34px;
}

.select-box select {
  font-size: 0.9rem;
  padding: 2px 5px;
  height: 34px;
  width: 200px;
}

.input-group {
  margin: 100px 0px;
}

.input {
  border: none;
  border-bottom: 2px solid lightgrey;
  width: 1050px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  display: block;
}

.error-message {
  color: #cc0033;
  font-size: 30px;
  line-height: 30px;
  margin-top: 10px;
  text-align: center;
}

.input-group .error-message {
  display: none;
}

.error input {
  border-bottom: 2px solid red;
}

.error .error-message {
  display: block;
}
